{% extends "storefront/base.html" %}

{% block content %}
{% include "storefront/includes/hero.html" %}
{% include "storefront/includes/triad.html" %}
{% include "storefront/includes/trust.html" %}
{% include "storefront/includes/categories.html" %}
{% include "storefront/includes/subcategories.html" %}
{% include "storefront/includes/trending.html" %}
{% include "storefront/includes/commitments.html" %}
{% include "storefront/includes/products.html" %}
{% include "storefront/includes/how_it_works.html" %}
{% include "storefront/includes/card_app.html" %}
{% include "storefront/includes/testimonial.html" %}
{% include "storefront/includes/stats.html" %}
{% include "storefront/includes/contact.html" %}
{% endblock %}
